In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import collections

%matplotlib inline
plt.style.use('ggplot')

In [2]:
filename = '219-CATTRACKS Fall 2019- February Billing.xlsx'

xlsx_df = pd.ExcelFile(filename)
xlsx_df.sheet_names

['CAT BILL',
 'FARES',
 'DELAYS',
 'BIKES',
 'C1 BLUE',
 'C1-GOLD',
 'C2 - EXPRESS',
 'SAT-SUN E1-LINE DOWNTOWN',
 'E1 HOLIDAY',
 'SAT-SUN E2-LINE HOUSING',
 'E2 HOLIDAY',
 'Fastcat',
 'G-Line',
 'Heritage 1 ',
 'Heritage 2',
 'SAT-SUND HERITAGE',
 'FR-SAT NITECAT',
 'PAX LEFT',
 'STANDBY',
 'AB LINE',
 'E-Line']


Based on assessment of csv data, most informative sheets in workbook consist of these bus lines:
 'C1 BLUE',
 'C1-GOLD',
 'C2 - EXPRESS',
 'G-Line'

Will only read those sheets into a pandas df
And then into a dictionary to track of the bus line and its total load data

In [3]:
use_sheets = ['C1 BLUE', 'C1-GOLD', 'C2 - EXPRESS', 'G-Line']
df_names = ['c1_blue', 'c1_gold', 'c2_exp', 'g_line']

df_dicts = {}
for i in range(len(df_names)):
    df_dicts[df_names[i]] = pd.read_excel(filename, use_sheets[i])

In [4]:
# Hate that I am doing this brute force, but didn't know how to grab these totals otherwise:
# Want an ordered dictionary since I am using brute means to slice data

collections.OrderedDict(df_dicts)
df_dicts.keys()


# Slices obtained through visual analysis and trial and error. Will not be able to 
# get away with doing this on a larger data set

c1_blue = df_dicts['c1_blue'].iloc[4:25, 86:101]
c1_gold = df_dicts['c1_gold'].iloc[4:25, 81:95]
c2_exp = df_dicts['c2_exp'].iloc[4:19, 106:125]
g_line = df_dicts['g_line'].iloc[4:17, 101:119]

# Step above removed use of dictionaries. Just dfs now

print(type(g_line))

<class 'pandas.core.frame.DataFrame'>

In [5]:
# Only c1_blue and c1_gold lines have Nans in first column.
# c2_exp, g_line do not have Nans in first column

nans_lst = [c1_blue, c1_gold]

for df in nans_lst:
    df.dropna(inplace=True)
    print(df)

               Unnamed: 86  Unnamed: 87 Unnamed: 88  Unnamed: 89  Unnamed: 90  \
4            C1 Blue -Line        545.0         704        843.0       1002.0
5           Granville Apts          0.0          31         61.0         41.0
6                  Walmart          0.0           0          1.0          0.0
7        Meadows/Olivewood          0.0          29         39.0         29.0
8       Alexander & "G" St          2.0          24         50.0         38.0
9        Rite Aid/Walgreen          2.0          19         84.0         31.0
10         El Portal Plaza          0.0          21         42.0         37.0
11          Mercy Hospital          3.0           0          0.0          2.0
12           Arrow Wood Dr         11.0         194        303.0        116.0
13               Muir Pass          5.0           2         85.0        124.0
14       Scholars/Emigrant          1.0           1          7.0         13.0
15   TriCol/Mercy Hospital          0.0           0          0.0          0.0
16  El Portal Plaza/"G" St          0.0           1          4.0          3.0
17      "G" St & Alexander          0.0           0          2.0          7.0
18       Meadows/Olivewood          0.0           1          0.0          0.0
19                 Walmart          0.0           1          1.0          0.0
20          Granville Apts          0.0           0          0.0          0.0
24                   TOTAL         24.0         324        679.0        441.0

   Unnamed: 91 Unnamed: 92  Unnamed: 93 Unnamed: 94  Unnamed: 95  Unnamed: 96  \
4         1121        1300       1419.0        1558       1717.0       1836.0
5           40          17         22.0          12          8.0         13.0
6            0           2          6.0           5          2.0          3.0
7           11           8         12.0          11         10.0          7.0
8           48          14         20.0           8          9.0          3.0
9           25          21         31.0          10          9.0         19.0
10          63          19         11.0           3          1.0         10.0
11           2           2          3.0           4          0.0          2.0
12          99          49         29.0          34         49.0         31.0
13         113         230        334.0         354        359.0        163.0
14          19          24         33.0          34         42.0         24.0
15           2           1          0.0           1          3.0          0.0
16           2           2          2.0           1          1.0          0.0
17           3           6          3.0           1          5.0          3.0
18           2           0          2.0           3          4.0          6.0
19           2           7          8.0           4          7.0          5.0
20           0           0          0.0           0          0.0          0.0
24         431         402        516.0         485        509.0        289.0

    Unnamed: 97  Unnamed: 98  Unnamed: 99 Unnamed: 100
4        2015.0       2134.0       2328.0        TOTAL
5           5.0          1.0          0.0          251
6           3.0          5.0          0.0           27
7           1.0          3.0          0.0          160
8           1.0          3.0          0.0          220
9           2.0          0.0          0.0          253
10          2.0          0.0          1.0          210
11          1.0          0.0          0.0           19
12         13.0          7.0          2.0          937
13         77.0         37.0         10.0         1893
14         13.0          9.0          3.0          223
15          0.0          0.0          0.0            7
16          0.0          0.0          0.0           16
17          2.0          0.0          0.0           32
18          0.0          0.0          0.0           18
19          3.0          0.0          0.0           38
20          0.0          0.0          0.0            0
24        123.0         65.0         16.0         4304
                   Unnamed: 81 Unnamed: 82  Unnamed: 83  Unnamed: 84  \
4                 C1 Gold-Line         625        744.0        923.0
5               Granville Apts          31         68.0        115.0
6                      Walmart           2          0.0          2.0
7            Meadows/Olivewood          14         45.0         60.0
8           Alexander & "G" St          52         63.0         57.0
9            Rite Aid/Walgreen          32         88.0         47.0
10  El Portal Plaza/"G" Street          26        110.0         76.0
11              Mercy Hospital           5          4.0          4.0
12               Arrow Wood Dr          81        234.0        136.0
13                   Muir Pass          23         12.0         44.0
14           Scholars/Emigrant           0          0.0          0.0
15           Tri College/Mercy           0          0.0          0.0
16  El Portal Plaza/"G" Street           0          0.0          1.0
17          Alexander & "G" St           0          0.0          2.0
18           Meadows/Olivewood           0          2.0          0.0
19                     Walmart           0          0.0          0.0
20              Granville Apts           0          0.0          0.0
24                       TOTAL         266        626.0        544.0

    Unnamed: 85 Unnamed: 86 Unnamed: 87 Unnamed: 88  Unnamed: 89  Unnamed: 90  \
4        1042.0        1201        1340        1459       1638.0       1757.0
5          56.0          57          39          28          6.0          5.0
6           3.0           3           0           1          2.0          1.0
7          27.0          26          11          17          7.0         15.0
8          89.0          53          18          28          8.0          2.0
9          39.0          46          19          15          8.0          9.0
10         41.0          49           9          16         10.0          3.0
11          1.0           1          10           1          0.0          4.0
12        216.0          90          77          28         36.0         11.0
13         57.0          83         116         205        259.0        138.0
14         12.0          20          23          40         41.0         18.0
15          0.0           5           0           0          1.0          0.0
16          1.0           0           1           4          0.0          0.0
17          0.0           0           4           3          0.0          0.0
18          0.0           0           0           2          4.0          0.0
19          0.0           0           3           9         10.0          7.0
20          0.0           0           0           0          0.0          0.0
24        542.0         433         330         397        392.0        213.0

    Unnamed: 91  Unnamed: 92  Unnamed: 93 Unnamed: 94
4        1916.0       2055.0       2214.0       TOTAL
5           3.0          1.0          0.0         409
6           0.0          0.0          0.0          14
7           2.0          3.0          3.0         230
8           1.0          1.0          1.0         373
9           5.0          1.0          2.0         311
10          0.0          0.0          0.0         340
11          0.0          0.0          0.0          30
12         13.0          3.0          3.0         928
13        103.0         74.0          0.0        1114
14         12.0         17.0          0.0         183
15          1.0          2.0          0.0           9
16          0.0          0.0          0.0           7
17          1.0          0.0          0.0          10
18          3.0          0.0          0.0          11
19          3.0          4.0          0.0          36
20          0.0          0.0          0.0           0
24        147.0        106.0          9.0        4005

In [6]:
# These two columns did not contain any data. 
# Not sure why they are there to begin with. Removed them.

c2_exp = c2_exp.drop(columns=['Unnamed: 123'])
g_line = g_line.drop(columns=['Unnamed: 117'])

# print(c2_exp), print(g_line)

In [7]:
# Check that these are the columns to plot in a bar graph

print(c1_blue.iloc[1:, 0])
c1_blue.iloc[1:, -1]

5             Granville Apts
6                    Walmart
7          Meadows/Olivewood
8         Alexander & "G" St
9          Rite Aid/Walgreen
10           El Portal Plaza
11            Mercy Hospital
12             Arrow Wood Dr
13                 Muir Pass
14         Scholars/Emigrant
15     TriCol/Mercy Hospital
16    El Portal Plaza/"G" St
17        "G" St & Alexander
18         Meadows/Olivewood
19                   Walmart
20            Granville Apts
24                     TOTAL
Name: Unnamed: 86, dtype: object

5      251
6       27
7      160
8      220
9      253
10     210
11      19
12     937
13    1893
14     223
15       7
16      16
17      32
18      18
19      38
20       0
24    4304
Name: Unnamed: 100, dtype: object

In [ ]:
dfs_lst = [c1_blue, c1_gold, c2_exp, g_line]
c1_blue.iloc[1:, 0]
c1_blue.iloc[1:, -1]

fig, axs = plt.subplots(2,2, figsize = (18,14), sharey=True, constrained_layout=True)
for i, ax in enumerate(axs.flat):
    ax.bar(dfs_lst[i].iloc[1:, 0], dfs_lst[i].iloc[1:, -1])
    ax.set_xticklabels(labels=dfs_lst[i].iloc[1:, 0], rotation=45, ha='right')
    ax.set_title(dfs_lst[i].iloc[0,0])
    ax.set_ylabel('# Students')

fig.suptitle('UCM CatTracks - Feb 2019 Bus Load Data', fontsize=24)
# fig.savefig('2019-feb-plot.png')

Text(0.5, 0.98, 'UCM CatTracks - Feb 2019 Bus Load Data')

In [ ]:
c1_blue

In [ ]:
c1_gold

In [ ]:
c2_exp

In [ ]:
g_line